/*
!/.gitignore
!/gradle/
!/gradle/*
!/gradle*
!/src/
!/src/*
!/*.gradle
!/*.md
!/icon.png
!/gallery/
!/wiki/
!/.github/
!/.markdownlint.jsonc
.gradle
Thumbs.db
Update.bat
*.psd
/libs/*
/libs/
gradle.properties
