<div id="main-header-wrapper">
  <div id="container1">
    <div id="container2">
      <div id="container3">
        <span id="ih"><span style="color: #5EAF20;">Q</span>uantum <span style="color: #9C53E8;">T</span>hings</span>
        <p id="desc">This Wiki contains information about the <a href="about/about-quantum-things/">Quantum Things</a> Minecraft Mod, a maintained 1.12.2 continuation of <a href="https://github.com/lumien231/Random-Things/">Random Things</a>.</p>
      </div>
    </div>
  </div>
</div>

