<!DOCTYPE html>
<html>
<head>
  <title>Random Things Wiki</title>
  <meta charset="utf-8"/>
  <style>
    html, body {{
      background-color: #251F29 !important;
      color: #CCCCCC !important;
    }}
  </style>
  <link href="assets/rtwiki_css_main.css" rel="stylesheet"/>
  <link href="assets/rtwiki_favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <link href="assets/dark-mode.css" rel="stylesheet"/>
  <link href="assets/index-header.css" rel="stylesheet"/>
</head>
<body>
  <div id="wrapper">
    <script src="assets/navigation.js"></script>
    <script src="assets/dark-mode.js"></script>
    <div id="container_navigation">
      <div id="logo">
        <span style="color: #5EAF20;">Q</span>uantum
        <span style="color: #9C53E8;">T</span>hings
      </div>
      {navigation}
    </div>
    <div id="container_content">
      {content}
    </div>
  </div>
</body>
</html>

