html{
  background: #251f29;
}

#main-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
  width: 100%;
}
#container1 {
  background-image: linear-gradient(45deg, #F7AE61 33%, #9C53E8 67%);
  padding: 2px;
  display: inline-block;
}
#container2 {
  background: #251f29;
  color: #ccc;
  text-align: center;
  width: auto;
  height: auto;
}
#container3 {
  padding: 20px 40px;
}
#ih {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 8px;
}
#desc {
  margin-bottom: 0px;
  font-size: 2em;
}
#desc > a:link {
  text-decoration: none;
  color: white;
}
#desc > a:visited {
  text-decoration: none;
  color: white;
}
#desc > a:hover {
  text-decoration: none;
  color: darkorange;
}
body.dark-mode #container2 {
  background: #251f29;
  color: #ccc;
}

